
body {
    padding: 1.5rem;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
}

h2 {
    margin: 1rem 0rem 0rem 0rem;
}

h3 {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
    gap: 1em;
}

.card {
    width: 13rem;
    background-color: #122029;
    border: 1px solid #333;
    padding: 16px;
    border-radius: 15px;
    transition: all 0.38s ease;
    
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    border: rgb(23, 115, 92) 1px solid;
    box-shadow: #2c8479 2px 2px 10px, #333333a4 2px 2px 10px, #333 2px 2px 10px
}

.name {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 1em;
}

.card-details {
    padding: 0.3em;
}


